.carousel-item {
    position: relative;
    /* Set các thuộc tính sau tùy vào thiết kế của bạn */
    height: 100vh; /* Chiều cao của carousel-item */
    // background: #000; /* Nền của carousel-item */
}

.carousel-caption {
    position: absolute;
    top: 40%; /* Vị trí dọc của carousel-caption */
    left: 60%; /* Vị trí ngang của carousel-caption */
    transform: translate(-50%, -50%); /* Dịch chuyển carousel-caption */
    text-align: center; /* Canh giữa nội dung trong carousel-caption */
    /* Set các thuộc tính sau tùy vào thiết kế của bạn */
    color: #000000; /* Màu chữ trong carousel-item */
    padding: 20px; /* Khoảng cách giữa nội dung trong carousel-caption và viền của carousel-caption */
}

.carousel-indicators {
    bottom: 250px;
}

.color-ccc {
    background-color: #ccc;
}