<!-- Slider -->
<div class="carousel slide">
    <ol class="carousel-indicators">
        <li class="color-ccc" [ngClass]="openActive1" (click)="changeSlider(0)"></li>
        <li class="color-ccc" [ngClass]="openActive2" (click)="changeSlider(1)"></li>
        <li class="color-ccc" [ngClass]="openActive3" (click)="changeSlider(2)"></li>
    </ol>
    <div class="fr-slider-wrap">
        <div class="fr-slider">
            <ul class="slides">
                <li>
                    <img src="{{ imageSliderShow }}" alt="">
                    <div class="fr-slider-cont" [innerHTML]="textSlider">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>