<div class="dropdown h-100" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
    <a class="btn btn-light w-100 h-100" type="button">
    Dropdown &nbsp;<i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" [ngClass]="isOpen">
        <a class="dropdown-item" href="#">Mục menu 1</a>
        <a class="dropdown-item" href="#">Mục menu 2</a>
        <a class="dropdown-item" href="#">Mục menu 3</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Liên kết khác</a>
    </div>
</div>
